body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
#chat_input {
    width: 100%;
}

html body { height: 100%; }

#chat {
    height: 100%;
    padding: 1%;
}
